@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #3b82f6;
    --secondary: #f2f2f2;
    --body: #222222;
}


@layer base{
    body{
        @apply bg-hero-pattern bg-no-repeat bg-cover bg-center text-body
    }
}